<!--========================================== EXPERIENCIA LABORAL =============================================-->
<div class="row">
    <div class="contenido">
        <h2 id="Experiencia-Laboral">Experiencia Laboral</h2>
        <ol>
            <li><b>Empresa :</b> Modular Home, <b>Tarea desempeñada :</b> Operario, <b>Periodo :</b> 07/2021 hasta la actualidad.</li>
            <li><b>Empresa :</b> Galvarini & asociados, <b>Tarea desempeñada :</b> Oficial, <b>Periodo :</b> 06/2021 hasta 07/2021.</li>
            <li><b>Empresa :</b> Galvarini & asociados, <b>Tarea desempeñada :</b> Oficial, <b>Periodo :</b> 04/2019 hasta 12/2019.</li>
        </ol>
    </div>
</div>