
app-logos, app-banner{
    float: right;
    margin-top: 0px;
    padding: 0;
}
.row{
    padding: 0px;
    margin-bottom: 0px;
}
.acerca_de_mi{
    width: 100%;
}
app-datos-personales{
    width: 65%;
    
}
p{
margin-right: 10px;
}
.dropdown{
display: flex;
flex-direction: row-reverse;
margin-right: 0px;
margin-bottom: 0px;
}
#dropdownMenuButton1{
margin: auto;
box-shadow: 10px 10px 30px black;
border-radius: 20px;
}
.dropdown-menu{
    background: rgb(75, 140, 253);
    box-shadow: 0px 0px 20px -5px black;
}
.dropdown-item:hover{
    background: rgba(37, 117, 252, 1);
}
/*etiqueta nombre*/
#nombre{
font-weight: bold;
margin-top: 30%;
}
/*estilo de la foto de perfil*/
@media(min-width:576px){

    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 10px 10px 30px black;
        left: 2%;
        top: 230px;
    }
    app-datos-personales{
        width: 60%;
        margin-top: 20px;
    }
    .row{
        width: 100%;
    }
}
@media(max-width:575px){
    #perfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 10px 10px 30px black;
        left:35%;
        top: 65px;
    }
    .dropdown{
        margin-bottom: 20px;
    }
    app-datos-personales{
        width: 60%;
    }
    .row{
        width: 100%;
        justify-content: center;
    }
}
@media(max-width: 320px){
    #perfil{

    }
}