<!--================================== ENCABEZADO =============================================================-->
<div class="row">
    <app-logos></app-logos>
    <app-banner></app-banner>
</div>
<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img id="perfil" src="../../../assets/Yo2.jpg" alt="foto1" class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Programador</p>
</div>
<app-datos-personales></app-datos-personales>
<div class="col-xs-12 col-sm-8 col-md-8 col-ld-8 acerca_de_mi">
    <span>
    <h1>Acerca de mí</h1>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis cum voluptatem deleniti ad quae sapiente impedit temporibus ipsa aspernatur ducimus ipsum, consectetur odit iure consequatur? Iure ipsum obcaecati aliquid sapiente.
    </p>
    </span>
</div>
</div>
<div class="row">
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Secciones</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#Formacion-Academica">Formación Académica</a></li>
        <li><a class="dropdown-item" href="#Experiencia-Laboral">Experiencia Laboral</a></li>
        <li><a class="dropdown-item" href="#Datos-de-Interes">Datos de Interés</a></li>
        <li><a class="dropdown-item" href="#Skills">Skills</a></li>
        <li><a class="dropdown-item" href="#Proyectos">Proyectos</a></li>
    </ul>
</div>
</div>  