<!--========================================== FORMACION ACADEMICA =============================================-->
<div class="row">
    <div class="contenido">
        <h2 id="Formacion-Academica">Formación Académica</h2>
        <div class="row" id="formaciones">
            <div class="text-center col-sm-3 col-md-3 col-lg-3"  id="formacion">
                <a href="https://www.escuelatecnicaboero.com/"><img src="../../../assets/Boero.png" id="logo-estudios"></a>
                <p>Técnico Electrónico <b> Escuela Ingeniero Rogelio Boero</b></p>
            </div>
            <div class="text-center col-sm-3 col-md-3 col-lg-3" id="formacion">
                <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/argentina_programa.png" id="logo-estudios"></a>
                <p>Curso de capacitación Argentina Programa </p>
            </div>
            <div class="text-center col-sm-3 col-md-3 col-lg-3" id="formacion">
                <a href="https://app.aluracursos.com/loginForm?urlAfterLogin=https://app.aluracursos.com/formacion-bienvenida-one"><img src="../../../assets/oracle.jpg" id="logo-estudios"></a>
                <p>Curso de Programación Oracle next education </p>
            </div>
            <div class="text-center col-sm-3 col-md-3 col-lg-3" id="formacion">
                <a href="https://www.teclab.edu.ar/"><img src="../../../assets/Teclab.jpg" id="logo-estudios"></a>
                <p>Tecnicatura superior en Programación en Teclab </p>
            </div>
        </div>
    </div>
</div>