.logos{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 30px;
}
button{
    margin-left: 15px;
    transition: transform  .5s;
    border-radius: 20px;
}
button:hover{
    transform: scale(1.2);
}
/*logo argentina programa*/
.logoap{
    margin-left: 10px;
}
.LogoAp{
    width: 130px;
    height: 60px;
}
/*logos redes*/
.sociales{
    margin-right: 0px;
    align-items: center;
}
.sociales img{
    width: 40px;
    height: 40px;
}
.sociales-icons{
    padding: 3px;
    transition: transform  .5s;
}
.sociales-icons:hover{
    transform: scale(1.2);
}
.sociales-links{
    display: inline-flex;
}
.ingresar{
    display: inline-flex;
}
@media only screen and (max-width : 575px) {
    .sociales img{
        width: 30px;
        height: 30px;
    }
    .LogoAp{
        width: 80px;
        height: 60px;
    }
    .logos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* margin-right: 30px; */
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
    }
}
@media(max-width: 320px){
    .logoap{
        display: none;      
    }
    .sociales-links{
        left: 0;
        position: absolute;
    }
    .ingresar{
        position: relative;
        padding-left: 70%;
    }
    button{
        height: 25px;
        margin:3px 0px;
        display: inline-flex;
        flex-wrap: wrap;
        align-content: center;
    }
}
