<div class="logos">
    <div class="logoap">
        <img src="../../../assets/APLogo.png" alt="ArgP" class="LogoAp">
    </div>
    <div class="sociales">
        <div class="sociales-links">
            <a href="https://github.com/Mpablom"><img src="../../assets/github2.png" id="github" class="sociales-icons"></a>
            <a href="https://www.linkedin.com/in/pablo-moya-a24525181/"><img src="../../../assets/linkedin2.png" id="linkedin" class="sociales-icons"></a>
        </div>
        <div class="ingresar">
            <button type="button" class="btn btn-outline-primary btn-ingresar" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-outline-primary btn-ingresar" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
        </div>
    </div>
</div>
